.headerWrapper {
    border-bottom: 3px solid rgb(var(--separator));
    background-color: rgb(var(--background));
}

.headerNav {
    padding: calc(var(--spacing-base)*3) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navInfo {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-base)*2);    
}
.navInfo > h2 {
    font-size: var(--fs-base);
}

.profileImageContainer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}