.formContainer {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-base)*2);
    width: 100%;
    padding: calc(var(--spacing-base)*4);
    background-color: rgb(var(--background));
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap:var(--spacing-base)
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-base)*2);
}

.inputItem {
    padding: calc(var(--spacing-base)*2) calc(var(--spacing-base)*4);
    background: transparent;
    border: 2px solid rgb(var(--border));
    outline: none;
    border-radius: 0;
    font-size: var(--fs-base);
}

.inputItem::placeholder {
    color: rgb(197, 197, 197);
}

.inputLabel {
    font-size: var(--fs-base);
}

.maxWidth {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}

.messageWrapper {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-base)*2)
}

.textAreaItem {
    resize: none;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: calc(var(--spacing-base)*4);
}

.errorField {
    color: rgb(var(--destructive));
    font-size: var(--fs-sm);
}
.borderColorError {
    border-color:  rgb(var(--destructive));
}

@media (min-width: 640px) {
    .inputBox {
        flex-direction: row;
    }

    .inputContainer {
        flex-grow: 1;
    }
}

@media (min-width: 768px) {
    .container {
        background-color: rgb(var(--background));

    }
}