.container {
    background-color: rgb(var(--background));
    padding: calc(var(--spacing-base)*4);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    
}

.imageContainer {
    align-self: self-end;
    font-size: var(--fs-xxl);
    padding: calc(var(--spacing-base)*4);
    transition: transform .5s ease-in-out;
    color: rgb(var(--card-icon-color));
}

.container:hover .imageContainer {
    transform: scale(1.2);
}


.cardTitle {
    font-size: var(--fs-md);
}
.cardDescription {
    font-size: var(--fs-base);
}