.container {
    background-color: rgb(var(--background));
    padding: calc(var(--spacing-base)*4);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container:hover {
    background-image: radial-gradient(20% 40%, red 0%, blue 70%);
  background-position: 20px 30px; /* Move the gradient 20px right and 30px up */
}

.imageContainer {
    width: 40px;
    height: 40px;
    background-color: rgb(202, 57, 57);
    align-self: self-end;
}


.cardTitle {
    font-size: var(--fs-md);
}
.cardDescription {
    font-size: var(--fs-base);
}