.container {
    background-color: rgb(var(--background));
    padding: calc(var(--spacing-base)*4);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imageContainer {
    align-self: self-end;
    font-size: var(--fs-xxl);
    padding: calc(var(--spacing-base)*4);
}


.cardTitle {
    font-size: var(--fs-md);
}
.cardDescription {
    font-size: var(--fs-base);
}