.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing-base)*4)
}

.icon {
    padding-top: var(--spacing-base);
    transition: transform 0.2s ease; /* Add transition for smooth animation */
  }
  
  .container:hover .icon {
    transform: translateX(5px); /* Move the icon 10px to the right on hover */
  }